//text colors
$basic-text-color: #5e5956;
$bright-text-color: #EEE;
$dark-text-color: #111;

//accent colors
$primary-accent-color: #ccae70;
$secondary-accent-color: #db8b4d;
$third-accent-color: #153f66;
$fourth-accent-color: #513475;

//border
$basic-border-color: #111;
$alternate-border-color: #5e5956;

//background colors
$basic-background-color: #000;
$alternate-background-color: #000;



