//text colors
$basic-text-color: #000;
$bright-text-color: #000;
$dark-text-colors: #000;

//accent colors
$primary-accent-color: #000;
$secondary-accent-color: #000;
$third-accent-color: #000;

//border
$basic-border-color: #000;
$alternate-border-color: #000;

//background colors
$basic-background-color: #000;
$alternate-background-color: #000;



