//text alignment
@mixin center-text {
    text-align: center;
}

@mixin float-left {
    text-align: left;
}

@mixin float-right {
    text-align: right;
}

// vertical alignment
@mixin center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

//size
@mixin size($width,$height) {
    width: $width;
    height: $height;
}

//displaying
@mixin not-display {
    display: none;
}

@mixin inline-display {
    display: inline-block;
}

@mixin block-display {
    display: block;
}

//lists
@mixin list-style-none {
    list-style-type: none;
}

//borders
@mixin border($size,$type,$color) {
    border: $size $type $color;
}

@mixin border-bottom($size,$type,$color) {
    border-bottom: $size $type $color;
}

@mixin border-top($size,$type,$color) {
    border-top: $size $type $color;
}

@mixin border-right($size,$type,$color) {
    border-right: $size $type $color;
}

@mixin border-left($size,$type,$color) {
    border-left: $size $type $color;
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

//showing/hiding
@mixin show {
    visibility: visible;
}

@mixin hide {
    visibility: hidden;
}

//transition
@mixin basic-transition {
    transition: all 0.2s ease-in-out;
}

@mixin various-transiton($forWhat,$time,$type) {
    transition: $forWhat $time $type;
}