body, html {
    background-image: url('../../img/bg/day.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.introduction {
    h1 {
        @include heading_mixin(5rem,$primary-font-family,$basic-text-color);
    }

    h3 {
        @include heading_mixin(3rem,$primary-font-family,$primary-accent-color);
    }
}